# Not tracking the node modules
node_modules/

# Not tracking the output.css file
# Since it can be easily created live
output.css

# Every developer is allowed to create any kind of temporary files, folder they need while working on Orbit
# So whatever they want to create, should be created in this below folder, So any kind of temporary file is not committed by a mistake
temp/